@tailwind base;
@tailwind components;
@tailwind utilities;
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00161d;
  min-height: 100vh;
}
.about-heading {
  font-family: 'roboto';
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
  padding-top: 100px;
}
.about-text {
  color: #b0faffb2;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}
.read-btn {
  min-height: 35px;
  min-width: 90px;
  text-align: center;
  border-radius: 14px;

  font-family: 'roboto';
  font-size: 24px;
  border: 1px solid #4cdcfc;
}
.about-content-container {
  width: 350px;
  min-height: 712px;
  background-color: #0c2b2fb2;
  border: 1px solid #0c2b2fb2;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.content-card {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.about-content-icon {
  height: 40px;
  width: 40px;
}
.about-content-heading {
  font-family: 'roboto';
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.about-content-text {
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 400;
  color: #b0faffb2;
}
.about-container-lg {
  display: none;
}
@media screen and (min-width: 768px) {
  .about-container {
    display: none;
  }
  .about-container-lg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00161d;
    min-height: 100vh;
  }
  .about-heading-lg {
    font-family: 'roboto';
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
  }
  .about-text-lg {
    font-family: 'roboto';
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    color: #b0faffb2;
    width: 703px;
  }

  .read-btn-lg {
    min-height: 40px;
    min-width: 108px;
    text-align: center;

    font-family: 'roboto';
    font-size: 14px;
    border: 1px solid #4cdcfc;

    left: 665.55px;
    padding: 10px 20px 10px 20px;
    gap: 0px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;
    font-weight: 500;
    color: #0b2a2d;
  }
  .about-lg-card-container {
    width: 744px;
    height: 400px;
    left: 348px;
    padding: 48px 64px 48px 63px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
    background-color: #08252a;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .flex-row-container {
    display: flex;
    align-items: center;
  }
  .flex-column-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
  }
  .content-card-lg {
    display: flex;
    flex-direction: column;
  }
  .about-content-icon-lg {
    height: 24px;
    width: 24px;
    margin: 10px;
  }
  .about-content-heading-lg {
    font-family: 'roboto';
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
  }
  .about-content-text-lg {
    font-family: 'roboto';
    font-size: 16px;
    font-weight: 400;
    width: 290.5px;
    color: #b0faffb2;
  }
}
