@tailwind base;
@tailwind components;
@tailwind utilities;

.home-container {
  background-color: #00161d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-heading {
  font-family: Space Grotesk;
  font-size: 35.86px;
  font-weight: 300;
  line-height: 43px;
  color: #ffffff;
  width: 100px;
  align-self: center;
  margin-top: 100px;
}
.btn-innovation {
  background-color: #b0f9ff;
  min-height: 25px;
  width: 200px;
  color: #0b2a2d;
  font-size: 35.86px;
  font-weight: 300;
  line-height: var(--lineheight40);
  letter-spacing: var(--letterspacing-072);
  text-align: left;
  font-family: 'roboto';
  border: none;
  border-radius: 20px;
}
.text-home {
  font-family: 20px;
  font-size: 20px;
  font-weight: 400;
  width: 300px;
  color: #b0faffb2;
  text-align: center;
}
.app-btn {
  min-width: 139px;
  min-height: 44px;
  text-align: center;
  border-radius: 12px;
  color: #0b2a2d;
  opacity: 0px;
  font-family: 'roboto';
  font-size: 35.86px;
  font-weight: 400;
}
.home-container-lg {
  display: none;
}
@media screen and (min-width: 768px) {
  .home-container {
    display: none;
  }
  .home-container-lg {
    display: flex;
    flex-direction: column;
    min-height:80vh;
  }
  .bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .flex-container-lg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    align-self: center;
  }
  .heading-lg {
    font-family: 'roboto';
    font-size: 72px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
  }
  .innovation-heading-lg {
    height: 84px;
    width: 646px;
    border-radius: 56px;
    background-color: #b0f9ff;
    color: #0b2a2d;
    font-family: 'roboto';
    font-size: 72px;
    font-weight: 500;
    text-align: center;
    padding: 2px;
    margin-left: 5px;
  }
  .content-lg {
    font-family: 'roboto';
    font-size: 20px;
    font-weight: 400;
    color: #b0faffb2;
    text-align: center;
    margin-top: 0px;
    padding: 0;
  }
  .lg-btn {
    height: 44px;
    width: 131px;
    background-color: #8bf9e833;
    border: 1px solid #8bf9e833;
    border-radius: 12px;
    box-shadow: -10 -10 10 10 #8bf9e833;

    font-family: 'roboto';
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
  }
}
